* {
    margin: 0;
    padding: 0;
    font-family: cursive, sans-serif;
}

body {
    color: white;
    background-color: black;
}

header {
    background-color: rgb(141, 0, 7);
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    height: 80px;
    color: blanchedalmond;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav li {
    margin-right: 20px;
    text-transform: uppercase;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
    font-family: cursive;
}

article {
    margin: 30px;
    padding: 20px;
}

article h2 {
    text-align: center;
    margin: 50px 0px;
}

section #table h3 {
    text-align: left;
    margin-bottom: 10px;
}

section #table {
    text-align: left;
    margin: 30px;
}

#fact1 {
    text-align: center;
}

#fact1 p {
    text-align: left;
}

#fact1 h3 {
    text-align: center;
    color: yellow;
    font-weight: bold;
    margin-bottom: 20px;
}



